<div class="container mt-5 mb-3">
    <mat-grid-list cols="3" rowHeight="320px" [gutterSize]="'10px'">
    <mat-grid-tile  class= "mat-title-custom"*ngFor="let wing of wings">
    <mat-card class="custom" class="mat-title-card" (click)="travelToWingAllotment(wing.wingCode)">
      <mat-card-content class="mat-title-content">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div class="icon"><img height="24" class="thumbnail-image" src="assets/images/plain-Lt-logo.png"></div>
                </div>
            </div>
            <div class="mt-5">
                <h3 class="heading">{{wing.wingCode}}<br>{{wing.wingName}}</h3>
                <div class="mt-5">
                    <mat-progress-bar mode="determinate" [value]="updateValue(wing.availableCapacity,wing.wingCapacity)"></mat-progress-bar>
                    <div class="mt-3"> <span class="text1">{{wing.availableCapacity}} Filled <span class="text2">of {{wing.wingCapacity}} capacity</span></span> </div>
                </div>
            </div>    
      </mat-card-content>
    </mat-card>
    </mat-grid-tile>
    </mat-grid-list> 
 </div>