<div class="mat-card-conatiner">
    <mat-grid-list cols="3" rowHeight="470px">
    <mat-grid-tile *ngFor="let wing of wings">
    <mat-card class="custom" style="width: 300px; margin-left: 60px;">
      <mat-card-content>
        <div class="card p-3 mb-2">
            <a href="admin/wingallotment" class="stretched-link"></a>
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                    <div class="ms-2 c-details">
                        <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span>
                    </div>
                </div>
                <div class="badge"> <span>Design</span> </div>
            </div>
            <div class="mt-5">
                <h3 class="heading">{{wing.wingCode}}<br>{{wing.wingName}}</h3>
                <div class="mt-5">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="mt-3"> <span class="text1">{{wing.availableCapacity}} Filled <span class="text2">of {{wing.wingCapacity}} capacity</span></span> </div>
                </div>
            </div>
        </div>
      </mat-card-content>
    </mat-card>
    </mat-grid-tile>
    </mat-grid-list> 
    </div>


    \<div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <a href="admin/wingallotment" class="stretched-link"></a>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Design</span> </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">Wing 1<br>SAP HYBRIS COMMERCE</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">32 Filled <span class="text2">of 50 capacity</span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <a href="#" class="stretched-link"></a>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Dribbble</h6> <span>4 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Product</span> </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">Wing 2<br>SAP ABAP BOSCH</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">42 Filled <span class="text2">of 70 capacity</span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 mb-2">
                    <a href="#" class="stretched-link"></a>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"> <i class="bx bxl-reddit"></i> </div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Reddit</h6> <span>2 days ago</span>
                            </div>
                        </div>
                        <div class="badge"> <span>Design</span> </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">Wing 3<br>SAP ABAP NTT DATA</h3>
                        <div class="mt-5">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="mt-3"> <span class="text1">52 Filled <span class="text2">of 100 capacity</span></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>