.navbar{
    padding: 1.5rem;
    margin-bottom: 0px;
}
.navbar-nav{
   padding-left: 420px;
}
a.nav-link {
    color: #0a125a;
    font-size: initial;
    margin-right: 40px
}
button.nav-button{
    color: white;
    font-size: initial;
    margin-right: 40px;
    margin-top: 10px;
}
a.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: #FFBA00;
  }

  .example-spacer {
    flex: 1 1 auto;
  }