<ul class="nav flex-column">	
	<li class="nav-item">
		<a class="nav-link" routerLink="task" routerLinkActive="active">
			<i class="fa fa-tasks" aria-hidden="true"></i> Employee Approval
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink="adminhome" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
			<i class="fa fa-building" aria-hidden="true"></i> Wing Management
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink="assetmanagment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
			<i class="fa-solid fa-computer" aria-hidden="true"></i> Asset Management
		</a>
	</li>
</ul>
