<div class="widget-container" style="margin-left: 40px;">
    <section class="section-widget-container" style="margin-top: 30px;">
        <div class="section-split-conatiner" style="width: 58%; float:left">
        <h1 class="heading-title content-size-default">Welcome to Ladera Technology Pvt Ltd.,</h1>
		<h2 class="sub-title content-size-default">LADERA TECHNOLOGY PVT LTD is an emerging and global SAP implementation &amp; services company.<br></h2>
        <div class="content-widget-container">
            <p>We provide high-value strategic IT management consulting services and solutions. We are an SAP centre of excellence with focus on SAP enterprise software and solutions.</p>
            <p>We have deep expertise and specialization in application management services, integrated business solutions, and enterprise mobility. We provide to our customers/partners, the highest level of quality and dependable cost-effective services with personalized service and support.</p>
            </div>    
    </div>
        <div class="section-split-conatiner" style="width: 40%; float:left; margin-left: 5px;"> 
            <img src="http://localhost:4200/assets/images/Service-image.jpg" alt="Ladera Technology">
            </div>
            <br style="clear:both;"/>
    </section>
    <section class="section-widget-container" style="margin-top: 30px;">
        <div class="heading-title" style="text-align: center;">
            <h2>Digital Core Capabilities</h2>
        </div>
        <div class="content-widget-container" style="text-align: center;">
        <p>We help you realize that it’s time for the rise of a Data-Driven Business. LADERA offerings include SAP, .Net and Java. The transformational services prepare your organization for improved responsiveness, compliance and better service level management. We look forward to create a deliver value to our customers with our expertise and professionalism</p>
    </div>
    <div class="Solution-logo">
        <div class="Solution-logo-conatiner" style="width: 25%; float:left">
            <img src="http://localhost:4200/assets/images/SAP.png" alt="SAP">  
        </div>
        <div class="Solution-logo-conatiner" style="width: 25%; float:left">
            <img src="http://localhost:4200/assets/images/oracle.png" alt="Oracle">  
        </div>
        <div class="Solution-logo-conatiner" style="width: 25%; float:left">
            <img src="http://localhost:4200/assets/images/windows.png" alt="Windows">  
        </div>
        <div class="Solution-logo-conatiner" style="width: 25%; float:left">
            <img src="http://localhost:4200/assets/images/java.png" alt="Java">  
        </div>
    </div>
        <br style="clear:both;"/>
    </section>
    <section class="section-widget-container" style="margin-top: 30px;">
        <div class="section-split-conatiner" style="width: 58%; float:left">
        <h1 class="heading-title content-size-default">Big Data Consulting Analytics</h1>
		<h2 class="sub-title content-size-default">Manage big data and solve
            business challenges with us !</h2>
        <div class="content-widget-container">
            <div class="elementor-widget-container">
                <p>An increasing amount of business data enhances the need for seamlessly incorporating it with the existing data ecosystem.<strong>Ladera Technology Pvt Ltd.,</strong> is one of the leading big data consulting companies, help you to experience the power of data with path-breaking services.</p>						</div>
            </div>    
    </div>
        <div class="section-split-conatiner" style="width: 40%; float:left; margin-left: 5px;"> 
            <img src="http://localhost:4200/assets/images/bigdatas-1024x683.jpg" alt="Ladera Technology">
            </div>
            <br style="clear:both;"/>
    </section>  
</div>