

.footer-align{
    background-image: url(http://localhost:4200/assets/images/Ladera-Footer.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;  
    background: rgb(45,47,78);
background: linear-gradient(45deg, rgba(45,47,78,1) 62%, rgba(113,119,143,1) 100%, rgba(72,75,104,1) 100%, rgba(74,77,106,1) 100%, rgba(193,203,218,1) 100%, rgba(15,27,45,1) 100%);
}

p,.p-4{
    color: white;
    font-size: 10px;
}

h6{
    color: white;
    font-size: 13px;
}