:host {
  color: white;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

.mat-column-EmployeeId{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 11% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-FirstName{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-EmailId{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 24% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.btn-approve{
color: white;
background-color: #0a125a;
padding: 7px;
width: 80px;
font-size: 13px;
}

mat-header-row{
  background-color:#0a125a;
}
mat-header-cell{
  font-size: 14px;
    color: white;
}