<form class="form-right" >
    <h2 class="text-uppercase">Seat Allotment</h2>
    <hr width="15%" />
    <div class="row row-margin-05" >
        <div class="col-2">
            <label>Wing Id</label>
          <input type="text" class="form-control" [readonly]="true"  [ngModel]="slot.wingCode" [ngModelOptions]="{standalone: true}" >
        </div>
        <div class="col-3">
            <label>Wing Name</label>
          <input type="text" class="form-control" [readonly]="true"   [ngModel]="slot.wingName" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-4">
            <label>Wing Capacity</label>
            <input type="text" class="form-control" [readonly]="true"  [ngModel]="slot.wingCapacity" [ngModelOptions]="{standalone: true}">
        </div>
      </div>  
      <div class="row row-margin-05">
        <div class="col-2">
            <form class="form">
              <mat-form-field class="width">
                <input
                  matInput
                  placeholder="EmployeeId"
                  aria-label="EmployeeId"
                  [matAutocomplete]="auto"
                  [formControl]="empId"
                  required
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    *ngFor="let employeeId of employeeIds"
                    [value]="employeeId"
                  >
                    <span>{{employeeId}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
        </div>
        <div class="col-3">
            <label>Email ID</label>
          <input type="text" class="form-control" [readonly]="true">
        </div>
        <div class="col-4">
            <label>Selected Seat Number</label>
          <input type="text" class="form-control" [readonly]="true">
        </div>
      </div>
      <div class="row row-margin-05">
    <div class="form-field">
        <input type="submit" value="Allot Seat" class="register" name="register">
    </div>
</div>
</form>
<hr width="75%" />
<div class="overall-table-seat-container" style="margin-top: 30px;">
<div class="seat-container-table-1" style="width: 30%; float:left">
        <table >
          <tbody>
          <tr>
         <td class="cell-style row-name">R1</td>
          <td class="cell-style td-seat" (click)="sample()"></td>
          <td class="cell-style td-seat"></td>
          <td class="cell-style td-seat"></td>
          <td class="cell-style td-seat"></td>
          <td class="cell-style td-seat"></td>
          </tr>
          <tr>
            <td class="cell-style row-name">R2</td>
            <td class="cell-style td-seat" (click)="sample()"></td>
            <td class="cell-style td-seat"></td>
            <td class="cell-style td-seat"></td>
            <td class="cell-style td-seat"></td>
            <td class="cell-style td-seat"></td>
            </tr>
            <tr>
              <td class="cell-style row-name">R3</td>
              <td class="cell-style td-seat"></td>
              <td class="cell-style td-seat"></td>
              <td class="cell-style td-seat"></td>
              <td class="cell-style td-seat"></td>
              <td class="cell-style td-seat"></td>
              </tr> 
          </tbody>
          </table>
    </div>

    <div class="seat-container-table-1" style="width:30%; float:left">
      <table >
        <tbody>
        <tr>
       <td class="cell-style row-name">R4</td>
        <td class="cell-style td-seat" onclick= sample()></td>
        <td class="cell-style td-seat"></td>
        <td class="cell-style td-seat"></td>
        <td class="cell-style td-seat"></td>
        <td class="cell-style td-seat"></td>
        </tr>
        <tr>
          <td class="cell-style row-name">R5</td>
          <td class="cell-style td-seat" onclick="sample()"></td>
          <td class="cell-style td-seat"></td>
          <td class="cell-style td-seat"></td>
          <td class="cell-style td-seat"></td>
          <td class="cell-style td-seat"></td>
          </tr>
        </tbody>
        </table>
  </div>

  </div>
