<form class="form-right" >
    <h2 class="text-uppercase">Seat Allotment</h2>
    <hr width="15%" />
    <div class="row row-margin-05" >
        <div class="col-2">
            <label>Wing Id</label>
          <input type="text" class="form-control" [readonly]="true"  [ngModel]="slot.wingCode" [ngModelOptions]="{standalone: true}" >
        </div>
        <div class="col-3">
            <label>Wing Name</label>
          <input type="text" class="form-control" [readonly]="true"   [ngModel]="slot.wingName" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-4">
            <label>Wing Capacity</label>
            <input type="text" class="form-control" [readonly]="true"  [ngModel]="slot.wingCapacity" [ngModelOptions]="{standalone: true}">
        </div>
      </div>  
      
      <div class="row row-margin-05">
     <div class="col-2">
          <label>EmployeeId*</label>
          <ng-select [items]=banks
          bindLabel="employeeCode"
          placeholder="EmployeeId"
          [(ngModel)]="selectedEmployee"
          (change)="onChangeEvent($event)"
          >
         </ng-select>
         <div *ngIf="blankEmp">
          Employee Should not be null
        </div>
        </div>
        <div class="col-3">
            <label>Email ID</label>
          <input type="text" class="form-control" [readonly]="true" [ngModel]="selectedEmployeeEmail" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-4">
            <label>Selected Seat Number*</label>
          <input type="text" class="form-control" [readonly]="true" [ngModel]="selectedSeatNumber" [ngModelOptions]="{standalone: true}">
          <div *ngIf="blankSeat">
           Please select seat</div>
        </div>
      </div>      
      <div class="row row-margin-05">
    <div class="form-field">
      <input class="btn btn-primary" type="submit" value="Submit" (click)="allotSeatForEmployee()">
    </div>
</div>
</form>
<hr width="75%" />
<table id="tableID">
  <div class="row row-seat" >
    <tr class="col-3-seat" *ngFor="let rowdata of seats; let ind= index" (click)="sample(ind)">
      <div *ngIf="rowdata.seatStatus==='occupied'; else available">
        <td class="cell-style td-seat col-1" id= {{rowdata.seatCode}} [class.phase-taken]="true"></td>
      </div>
    <ng-template #available>
   <td class="cell-style td-seat col-1" id= {{rowdata.seatCode}} [class.phase-active]="activeSeat === ind"></td>
  </ng-template>
     </tr>
</div>
</table>
 